body {
  background-image: url('starWars.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1px;
  padding: 1px;
  text-align: center;
}

form {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}

form input {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px;
}

form select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  gap: 10px;
}

button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  padding: 10px;
}

form select:focus:hover {
  background-color: white;
  color: rgb(7, 7, 7);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.div {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 50px;
  color: white;
  margin: 50px;
  padding: 50px;
}

.title {
  align-items: center;
  color: white;
  display: flex;
  font-size: 5.5em;
  justify-content: center;
  margin-top: 97px;
}

.search {
  margin: 5px;
}

.filter {
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: row; /* Faz com que os elementos fiquem na horizontal */
  gap: 10px;
  justify-content: center;
}


.input {
  background-color: transparent;
  border: 1px solid white;
  padding: 10px;
  width: 180px;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th, .table td {
  border: 1px solid #7a7979;
  padding: 8px;
  text-align: left;
  white-space: nowrap;

}

.table th {
  background-color: #7a7979;
  color: white;
}

.table-container {
  height: 35vh;
  overflow: auto;
}

.table-container::-webkit-scrollbar {
  width: 5px;
}

.table-container::-webkit-scrollbar-track {
  background: #444955;

}

.table-container::-webkit-scrollbar-thumb {
  background: #888;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e;

}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
